<!doctype html>
<html lang="en">
<%- include('../common/Head.html.ejs') %>
<body>


<%- include('../common/Header.html.ejs') %>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12">
            <h1><%- blogPost.name%><br><small>Written by <%= blogPost._writerName %></small></h1>
            <%- blogPost.bodyText %>
        </div>
    </div>
</div>


<%- include('../common/Footer.html.ejs', {
address: address,
footerHeader: footerHeader,
footerCTA
}) %>

</body>
</html>
