<!doctype html>
<html lang="en">
<%- include('../common/Head.html.ejs', {name: name}) %>
<body>

<%- include('../common/Header.html.ejs') %>


<div class="container">
    <div class="row">
        <div class="col-3">
            <h5>Blog posts</h5>
            <div class="list-group">
                <% blogPosts.forEach(blogPost => { %>
                <a href="<%= blogPost._url %>" class="list-group-item list-group-item-action"><%= blogPost.name %></a>
                <% }) %>
            </div>
        </div>
        <div class="col-9">
            <div class="container ">
                <div class="row">

                    <% blogPosts.forEach(blogPost => { %>
                        <div class="col-4 mt-4 mb-4 d-flex align-items-stretch">
                            <div class="card flex-grow-1">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                                <div class="card-body">
                                        <h5 class="card-title">
                                            <%= blogPost.name %>
                                            <br>
                                            <small>Written by <%= blogPost._writerName%></small>
                                        </h5>
                                        <p class="card-text"><%= blogPost.excerpt %></p>
                                    <a href="<%= blogPost._url %>" class="btn btn-outline-primary">Read
                                        more</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>

                </div>

            </div>

        </div>
    </div>
</div>


<%- include('../common/Footer.html.ejs') %>


</body>
</html>
