<!doctype html>
<html lang="en">
<%- include('../common/Head.html.ejs') %>
<body>


<%- include('../common/Header.html.ejs') %>


<div class="container" >
    <div class="row" >
        <div class="col-6" style=" min-height: 350px; background-position: 50% 50%; color: #fff; ">
            <div style="background-image: url('https://headless-house-of-code.s1.umbraco.io<%= heroImage %>');min-height: 350px; background-position: 50% 50%; color: #fff;"></div>
            &nbsp;
        </div>
        <div class="col-6" style="color: #000;">
            <h3><%- heroTitle %></h3>
            <%- heroBody %>
        </div>
    </div>
</div>







<div class="container">

    <div class="row mt-4 mb-4">
        <div class="col">
            <%- body %>
        </div>
    </div>

</div>


<%- include('../common/Footer.html.ejs', {
address: address,
footerHeader: footerHeader,
footerCTA
}) %>

</body>
</html>
