<!doctype html>
<html lang="en">
<%- include('../common/Head.html.ejs') %>
<body>


<%- include('../common/Header.html.ejs') %>


<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-6">
            <img src="https://headless-house-of-code.s1.umbraco.io<%= product.photos.umbracoFile.src %>"/>
        </div>
        <div class="col-6">
            <h2>
                <%= product.productName %>
                <br>
                <small><%= product.price %> kr.</small>
            </h2>
            <p><%= product.description %></p>

            <h3>Features</h3>
            <ul class="list-group m-0">
                <% product.features.map(feature  => { %>
                    <li class="list-group-item">
                        <b><%= feature.featureName %></b>
                        <br>
                        <small><%= feature.featureDetails %></small>
                    </li>
                <% }) %>

                <% if(product.features.length === 0) { %>
                    <li class="list-group-item">
                       <div class="text-muted">
                           No features
                       </div>
                    </li>
                <% } %>
            </ul>


            <h3>Categories</h3>

            <div>
                <% product.category.forEach(cat => { %>
                    <a href="#" class="btn btn-outline-primary"><%= cat %></a>
                <% }) %>

                <% if(product.category.length === 0) { %>
                    <li class="list-group-item">
                        <div class="text-muted">
                            No Categories
                        </div>
                    </li>
                <% } %>
            </div>

        </div>
    </div>
</div>


<%- include('../common/Footer.html.ejs', {
address: address,
footerHeader: footerHeader,
footerCTA
}) %>

</body>
</html>
